nav
    {
        background-color: black;
    width: 100%;
    height: 80px;
   
    padding: 5px 15px;
    }
    .right
    {
        width: 900px;
        float: right;
        
        border: 0px solid ;
    }
    .right ul li
    {
        width: 120px;
        float: left;
        margin: 10px auto;
        text-align: center;
        padding-left: 190px;
    }
    .right ul li a 
    {
        text-decoration: none;
        color: darkgray;
    }
   
    .right ul li a:hover
    {
        color: red;
    }
    .left
    {
        width: 900px;
        float: left;
        border: 0px solid ;
    }
    .left p
    {
        color: darkgray;
    }
    table {
    font-family: arial, sans-serif;
     border-collapse: collapse;
     width: 50%;
     position: absolute;
    
      }

    td, th {
     border: 1px solid #dddddd;
     text-align: left;
     padding: 8px;
      }
      .dishes
      {
        float: right;
        text-align: center;
        padding-left: 50%;
        padding-right: 25%;
        font-size: x-large;
        font-style: italic;
        font-family: 'Times New Roman', Times, serif;
      }
     footer
     {
        position: relative;
        text-align: center;
        background-color: black;
       
        
        
     }
     footer p
     {
       
        color: white;
     }

     .about h1
    {
    text-align: center;
    font-style: italic;
    }
    .about p
    {
    text-align: center;
    font-size: larger;
    }